//= require_self

@mixin clear {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin split {
  @include clear;
  > *:last-child {
    float: right;
  }
  > *:first-child {
    float: left;
  }
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'helvetica neue', 'arial', sans-serif;
  font-size: 0.8rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #222;
  background: #fff;

  > p {
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #fff;
    background: #e67881;
  }

}

nav {
  font-weight: bold;
}

h1,
h2,
p,
li,
th,
td {
  line-height: 150%;
}

a {
  text-decoration: none;
  color: #e67881;
  border-bottom: solid 0.1em #e67881;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 2em;
  list-style: none;
}

hr {
  margin: 2em 0;
  border: none;
  border-top: solid 0.1em #ccc;
}

h2 {
  @include split;
  margin: 3rem 0 0 0;
  font-size: 1.5em;

  span a {
    color: inherit;
    border-color: #222;
  }

  > a {
    margin: 0.4em 0 0 0;
    line-height: 120%;
    font-size: 0.8rem;
    font-weight: normal;
  }

}

pre {
  margin: 0;
}

input {
  font-family: 'helvetica neue', 'arial', sans-serif;
  font-size: 1em;
}

input[type=submit] {
  margin: 1em 0 0 0;
  padding: 1em 3em;
  border: none;
  color: #fff;
  background: #e67881;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 90%;
  height: 40em;
  margin-top: 3rem;
  padding: 0.5em 1em;
  font-family: monospace;
  font-size: 1rem;
  color: #000;
  background: #f5f5f5;
  border: solid 0.1em #ccc;
}

table {
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
}

thead {
  border-bottom: solid 0.2em #e67881;
}

tbody {
  font-family: monospace;
  font-size: 1.2em;

  tr:nth-child(odd) {
    background: #f5f5f5;
  }

  tr:last-child {
    border-bottom: solid 0.1em #ccc;
  }

}


th {
  padding: 0 0.5em;
  line-height: 1.15rem;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;

  &.scan_distance {
    width: 10%;
  }

  &.scan_id {
    width: 10%;
  }

  &.scan_scan_group {
    width: 20%;
  }

  &.scan_group {
    width: 20%;
  }

  &.scan_type {

  }

  &.scan_signal {
    width: 10%;
  }

}

td {
  padding: 0 0.5em;
  vertical-align: top;

  &.scan_id {
    font-weight: bold;
  }

}
