<!DOCTYPE html>
<html>

  <head>
    <title>R.Y.S.T.</title>
      <%= stylesheet_link_tag 'application' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>

</html>
